/***************************
*** Switches
***************************/

.switch {
    display: table;
    width: 100%;
    margin: 10px 0;
    min-height: 50px;
    padding: 15px !important;
    background: rgba(35,37,43,0.9);
    box-shadow: inset 0px 1px 0px 0px rgba(70,74,86,1);
    border: 1px solid #000;
    border-radius: 7px;
    color: #ebeef2;
    cursor: pointer;
}

.switch .switch__icon {
    display: table-cell;
    width: 40px;
    height: 40px;
    font-size: 28px;
    background:rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
}

.switch .switch__icon.active {
    background: #ebeef2;
    color: #000;
}

.switch .switch__context {
    display: table-cell;
    width: calc(100% - 40px);
    padding: 0 15px;
    text-align: left;
    vertical-align: middle;
}

.switch .switch__context span.title {
    display: block;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
}

.switch .switch__context span.date {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #6a7383;
    font-size: 12px;
}

.switch .switch__toggle {
    display: table-cell;
    width: 60px;
    height: 30px;
    font-size:32px;
    text-align: center;
    vertical-align: middle;
}
