<div class="tabs">
    <div class="tabs__content">
        <div ng-repeat="(key, tab) in vm.tabs" class="tabs__content-repeat" ng-show="vm.isSet(key)">
            <div class="tabs__content-header">{{ tab.title }}</div>
            <switches ng-if="tab.type === 'Switches'"></switches>
            <news ng-if="tab.type === 'News'"></news>
            <weather ng-if="tab.type === 'Weather'"></weather>
        </div>
    </div>

    <div class="tabs__nav">
        <span ng-repeat="(key, tab) in vm.tabs" ng-click="vm.setTab(key)">
            <i ng-if="tab.tab === '1'" ng-class="{active: key == vm.activetab}" class="fa fa-chevron-left"></i>
            <i ng-if="tab.tab === '2'" ng-class="{active: key == vm.activetab}" class="fa fa-chevron-right"></i>
        </span>
    </div>
</div>
