/***************************
*** Traffic
***************************/

.traffic {
    display: block;
    width: 100%;
    opacity: 1;
    border-radius: 7px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(35,37,43,0.9);
    box-shadow: inset 0px 1px 0px 0px rgba(70,74,86,1);
    max-height: 358px;
}

.traffic:first-child { margin-top: 10px; }

.traffic .traffic__item {
    position: relative;
}

.traffic .traffic__item .traffic__item-title {
    display: table;
    background: rgba(0,0,0,0.3);
    box-shadow: inset 0px -1px 0px 0px rgba(70,74,86,1);
    width: 100%;
    margin-top: 3px;
    overflow: hidden;
}

.traffic .traffic__item .roadname {
    display: table-cell;
    width: 60px;
    text-align: center;
    background: #000;
    font-weight: 700;
    padding: 5px 10px;
    border-right: 3px solid #000;
}

.traffic .traffic__item .roadname.aWegen { border-color: #ee4e10; }
.traffic .traffic__item .roadname.nWegen { border-color: #f0b017; }

.traffic .traffic__item .location {
    display: table-cell;
    width: calc(100% - 100px);
    padding: 10px 15px;
}

.traffic .traffic__item .toggle {
  display: table-cell;
  width: 40px;
  text-align: center;
  font-size: 22px;
  vertical-align: middle;
  cursor: pointer;
}

.traffic .traffic__item .traffic__item-desc  {
    position: absolute;
    left: 0px;
    z-index: 99;
    width: 100%;
    display: block;
    background: #ebeef2;
    color: #23252b;
    font-weight: 700;
    padding: 5px 10px;
}
