<div class="newsrapper" ng-repeat="(key, val) in vm.newssources" ng-init="vm.getNews(key, val)">

    <div class="news" ng-repeat="item in vm.news[key] | limitTo: vm.limit" ng-if="vm.news" ng-class="{'switch': vm.changed}">
        <div class="news__content">
            <div class="news__content-icon col-xs-2">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="news__content-content">
                <span class="title">{{ item.title }}</span>
                <span class="description">{{ item.description | removeHTMLTags }}</span>
            </div>
        </div>
        <div class="news__footer"> {{ vm.newstitle[key] }}</div>
    </div>

</div>
