<div class="garbage" ng-repeat="month in vm.garbagedata | limitTo : 1">
    <div class="garbage__heading">{{ vm.title }}<span>{{ month.title }}</span></div>
    <div class="garbage__occ" ng-repeat="occ in month.occurrences">
        <div class="garbage__occ-date">
            {{ occ.from.date | date :  "EEEE" }}
            <span>{{ occ.from.day }}<span>
        </div>
        <div class="garbage__occ-img"><img ng-src="{{ occ.icon }}"></div>
        <div class="garbage__occ-title">{{ occ.title }}</div>
        <div class="garbage__occ-time">{{ occ.from.hours }}:{{ occ.from.minutes }}</div>
    </div>
</div>
