.garbage{
    display: block;
    width: 100%;
    opacity: 1;
    border-radius: 7px;
    overflow-x: hidden;
    border: 1px solid #000;
    margin: 10px 0px ;

    &__heading {
        display: table;
        width: 100.2%;
        box-shadow: inset 0px 1px 0px 0px rgba(136, 146, 166, 0.9);
        background: rgba(68, 73, 83, 0.8);
        padding: 13px 15px 12px 15px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        span { float: right; }
    }

    &__content {
        width: 100.1%;
        max-height: 245px;
        overflow: auto;

        &-occ {
            display: table;
            background: rgba(35,37,43,0.9);
            box-shadow: inset 0px 1px 0px 0px rgba(70,74,86,1);
            width: 100.1%;
            padding: 5px;

            .occ {
                &__date {
                    display: table-cell;
                    width: 12%;
                    padding: 0px 5px;
                    font-size: 11px;
                    text-align: center;
                    line-height: 160%;
                    span { display: block; width: 100%; font-size: 25px; font-weight: 700;}
                }

                &__img {
                    display: table-cell;
                    width: 5%;
                    vertical-align: middle;
                    line-height: 270%;
                    img { width: 100%; border-radius: 3px; }
                }

                &__title {
                    display: table-cell;
                    width: 70%;
                    padding: 5px 15px;
                    font-weight: 700;
                    font-size: 17px;
                    text-transform: capitalize;
                    vertical-align: middle;
                }
            }
        }
    }

    .icons {
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        background:transparent url("../../assets/img/garbageicons.png") no-repeat 0px 0px;
        border-radius: 5px;
        overflow: hidden;
        &.papier    { background-position: 0px 0px; }
        &.restafval { background-position: -32px 0px; }
        &.gft       { background-position: -64px 0px; }
        &.dhm       { background-position: -96px 0px; }
        &.plastic   { background-position: -128px 0px; }
        &.textiel   { background-position: -160px 0px; }
        &.takken   { background-position: -192px 0px; }
    }
}
