/***************************
*** Traffic
***************************/

.traffic {
    display: block;
    width: 100%;
    opacity: 1;
    border-radius: 7px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
    background: rgba(35,37,43,0.9);
    box-shadow: inset 0px 1px 0px 0px rgba(70,74,86,1);
    max-height: 245px;

    &:first-child { margin-top: 10px; }

    &__item {
        position: relative;

        &-title {
            display: table;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px -1px 0px 0px rgba(70,74,86,1);
            width: 100%;
            margin-top: 0px;
            overflow: hidden;
        }

        &-desc {
            position: absolute;
            left: 0px;
            z-index: 99;
            width: 100%;
            display: block;
            background: #ebeef2;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .roadname {
            display: table-cell;
            width: 60px;
            text-align: center;
            background: rgba(0, 0, 0, 0.2);
            font-weight: 700;
            padding: 5px 10px;
            border-right: 3px solid #000;

            &.aWegen { border-color: #ee4e10; }
            &.nWegen { border-color: #f0b017; }
        }

        .location {
            display: table-cell;
            width: calc(100% - 100px);
            padding: 10px 15px;
        }

        .toggle {
            display: table-cell;
            width: 40px;
            text-align: center;
            font-size: 22px;
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .trafficdesc {
        display: table;
        color: #23252b;
        padding: 10px 0px;

        &__icon {
            display: table-cell;
            width: 50px;
            text-align: center;
        }

        &__desc {
            display: table-cell;
            width: calc(100% - 50px);
            font-weight: 700;

            h3 { font-size: 15px; margin: 0; font-weight: 700; }
            i { margin: 0 10px; }
            P { font-weight: 400; margin: 0; }
        }
    }
}
