<div class="traffic" ng-if="vm.traffic">
    <div class="traffic__item" ng-repeat="info in vm.traffic" ng-if="info.hasOwnProperty(vm.activestate)">
        <div class="traffic__item-title" ng-class="{'active' : toggle.state}">
            <div class="roadname" ng-class="{ 'nWegen': info.roadType === 'nWegen', 'aWegen': info.roadType === 'aWegen' }">{{ info.road }}</div>

            <div class="location" ng-if="info.trafficjam.length === 1">
                {{ info.trafficjam[0].segStart }}
                <span ng-if="info.trafficjam.length === 1"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                {{ info.trafficjam[0].segEnd }}
            </div>

            <div class="location" ng-if="info.trafficjam.length > 1">
                <i class="fa fa-car" aria-hidden="true"></i> {{ info.trafficjam.length }}
            </div>

            <div class="toggle"ng-click="toggle.state = !toggle.state" ><i class="fa" ng-class="{'fa-angle-down': !toggle.state, 'fa-angle-up': toggle.state}" aria-hidden="true"></i></div>
        </div>

        <div class="traffic__item-desc" ng-if="toggle.state">

            <div ng-repeat="traffic in info.trafficjam" class="trafficdesc">
                <div class="trafficdesc__icon"><i class="fa fa-car" aria-hidden="true"></i></div>
                <div class="trafficdesc__desc">
                    <h3>{{ traffic.segStart }}<i class="fa fa-arrow-right" aria-hidden="true"></i>{{ traffic.segEnd }}</h3>
                    <p>{{ traffic.description }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
