/***************************
*** Global
***************************/

html{
    display: table;
    width:100%;
    height: 100%;
}

body {
    display:table-cell;

    font-family: "Asap",Helvetica,Arial,sans-serif;
    color: #fff;

    background-color: #000;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;

    -webkit-transition: background 5s;
    -moz-transition: background 5s;
    -o-transition: background 5s;
    transition: background 5s;
}

.container {
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100% !important;
}

.colum {

}

.block {
    display: block;
    float: left;
    padding: 0 !important;

    &.dev {
       &.col-sm-6 {
          padding: 0px 5px !important;
       }
    }
}

.heading {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px !important;
    background: rgba(35,37,43,0.9);
    box-shadow: inset 0px 1px 0px 0px rgba(70,74,86,1);
    border: 1px solid #000;
    border-radius: 7px;
    color: #ebeef2;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;

    &:first-child {
        margin-top: 0;
    }
}

#colum1 {
    margin-top: 42px;
}

/** Bootstrap **/

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
.col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

/** Util **/

.tooltip-wrap {
    position: relative;
    cursor: pointer;
    .tooltip-text {
        font-family: "Asap",Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 160%;
        text-align: center;
        white-space: pre-wrap;
        display: none;
        background: #7e8fa5;
        border-radius: 3px;
        width: 150px !important;
        font-weight: 500;
        color: #fff;
        padding: 5px;
        position: absolute;
        z-index: 10;
        width: auto;
        left: -50%;
    }

    &.active .tooltip-text {
        display: block;
    }
}

/** Imports **/

@import "bg/bg.scss";
@import "settings/settings.scss";
@import "news/news.scss";
@import "devices/devices.scss";
@import "traffic/traffic.scss";
@import "weather/weather.scss";
@import "spotify/spotify.scss";
@import "calendar/calendar.scss";
@import "tvguide/tvguide.scss";
