/***************************
*** Tabs
***************************/

.tabs {
    display: table;
    width: 100%;
    position: relative;

    &__nav {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 45px;
        line-height: 43px;
        padding: 0px 5px !important;
        background: rgba(35,37,43,0.9);
        box-shadow: inset 0px 1px 0px 0px rgba(70,74,86,1);
        border: 1px solid #000;
        border-radius: 7px;
        color: #ebeef2;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        span {
            float: left;
            display: table;
            width: 50%;
            height: 100%;
            text-align: center;
            line-height: 48px;
        }

        i { color: #fff; }
        i.active { color: #6a7383; }
    }

    &__content {
        &-header {
            height: 45px;
            line-height: 43px;
            width: calc(100% - 92px);
            padding: 0px 15px !important;
            background: rgba(35,37,43,0.9);
            box-shadow: inset 0px 1px 0px 0px rgba(70,74,86,1);
            border: 1px solid #000;
            border-radius: 7px;
            color: #ebeef2;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}
