/***************************
*** Calendar
***************************/
.calendar {
  display: table;
  width: 100%;
  margin: 10px 0;
  min-height: 95px;
  padding: 0px 10px !important;
  background: rgba(35, 37, 43, 0.9);
  box-shadow: inset 0px 1px 0px 0px #464a56;
  border: 1px solid #000;
  border-radius: 7px;
  color: #ebeef2;
}

.calendar__item {
  display: table;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 2.5px 5px 2.5px 0px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.calendar__item.confirmed {
  border-right: 3px solid #9ed449;
}

.calendar__item.denied {
  border-right: 3px solid #d44949;
}

.calendar__item-icon {
  display: table-cell;
  width: 50px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.calendar__item-desc {
  display: table-cell;
  width: calc(100% - 50px);
  vertical-align: middle;
}

.calendar__item-desc .date {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.calendar__item-desc .date i {
  font-size: 15px;
  font-style: normal;
}

.calendar__item-desc .date b {
  float: right;
  color: #6a7383;
  font-size: 11px;
  margin: 2px;
}

.calendar__item-desc p {
  font-size: 13px;
  margin: 0px 0px 3px 0px;
}
