/***************************
*** Switches
***************************/
.device {
  display: table;
  width: 100%;
  margin: 10px 0;
  min-height: 77px;
  padding: 5px !important;
  background: rgba(35, 37, 43, 0.9);
  box-shadow: inset 0px 1px 0px 0px #464a56;
  border: 1px solid #000;
  border-radius: 7px;
  color: #ebeef2;
}

.device:last-child {
  margin-bottom: 0px;
}

.device__icon {
  display: table-cell;
  width: 40px;
  height: 40px;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.device__icon.active {
  background: #ebeef2;
  color: #000;
}

.device__context {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 15px 0px 15px;
  text-align: left;
  vertical-align: top;
}

.device__context span.title {
  display: block;
  font-size: 16px;
  width: 100%;
  font-weight: 700;
}

.device__context span.date {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #6a7383;
  font-size: 12px;
}

.rzslider {
  position: relative;
  display: inline-block;
  z-index: 9999;
  width: 100%;
  height: 4px;
  margin: 15px 0 0px 0;
  vertical-align: middle;
  user-select: none;
}

.rzslider .rz-bar-wrapper {
  height: 4px;
  padding-top: 3px;
}

.rzslider .rz-pointer {
  display: block;
  height: 14px !important;
  width: 14px !important;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #bcbcbc;
  background: #ffffff;
}

.rzslider .rz-pointer:after {
  display: none;
  top: 3px;
  left: 3px;
}

.rzslider .rz-bar {
  height: 12px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #23252b;
}

.rzslider .rz-bubble {
  display: table;
  top: 10px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 180%;
  padding: 2px 5px 0px 5px;
}
