/***************************
*** Settings
***************************/
.settings {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 999;
  width: 100%;
}

.settings__button {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  margin: 5px 5px 5px 5px;
  padding: 0px 10px !important;
  background: rgba(35, 37, 43, 0.9);
  box-shadow: inset 0px 1px 0px 0px #464a56;
  border: 1px solid #000;
  border-radius: 7px;
  color: #ebeef2;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.settings__button.active {
  color: #6a7383;
}

.settings__button.logo {
  cursor: none;
  text-transform: none;
}

.settings__message {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  margin: 5px 5px 5px 5px;
  padding: 0px 15px;
  color: #D8000C;
  background-color: #FFBABA;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
}

.settings__form {
  display: table;
  width: calc(100% - 10px);
  padding: 15px !important;
  margin: 10px 5px 10px 5px;
  padding: 0px 0px !important;
  background: #f8fafc;
  border-radius: 7px;
  color: #000;
  font-family: 'Open Sans';
}

.settings__form hr {
  border-top: none;
  border: 1px solid #d5dce6;
}

.settings__form .wrap {
  display: table;
  width: 100%;
  padding: 15px;
  border: 4px solid #fff;
  border-radius: 3px;
  margin: 5px 0px;
}

.settings__form h3 {
  font-size: 20px;
  color: #333c48;
  font-weight: 700;
  font-family: 'Open Sans';
  margin: 0;
}

.settings__form h3 span {
  font-size: 12px;
  font-weight: 400;
}

.settings__form h4 {
  font-size: 16px;
  color: #333c48;
  font-weight: 700;
  font-family: 'Open Sans';
  margin-top: 0;
}

.settings__form-input label {
  font-weight: 600;
  width: 100%;
  font-size: 14px;
  color: #7e8fa5;
  padding: 10px 0px;
}

.settings__form-input input {
  width: 100%;
  border: 1px solid #d5dce6;
  box-shadow: inset 0px 1px 0px 0px #f2f5f8;
  padding: 8px 5px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
}

.settings__form table {
  width: 100%;
}

.settings__form table th {
  border: 1px solid #d5dce6;
  padding: 10px;
  text-align: left;
  background: linear-gradient(to bottom, #fff 0%, #f5f6f9 100%);
}

.settings__form table th i {
  color: #00a8ff;
}

.settings__form table th:first-child {
  width: 5px;
}

.settings__form .button {
  display: inline-block;
  border: none;
  background: #7e8fa5;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  margin: 10px 0px;
  text-transform: capitalize;
  cursor: pointer;
  float: right;
  margin-right: 5px;
}
