<div class="settings">
    <div class="settings__button fa fa-cog" ng-click="vm.toggle()" ng-class="{ 'active': vm.isActive}"></div>
    <div class="settings__message" ng-if="!vm.load">Configuration file not found or filled in correctly!</div>
    <div class="settings__button logo" ng-if="vm.load">DomoDash</div>
    <div class="settings__form" ng-if="vm.isActive">
        <form autocomplete="off">
            <div class="col-xs-12 col-sm-6">
                <div class="wrap">
                    <h3>Global settings <span>(domoticz)</span></h3>
                    <div class="settings__form-input">
                        <label>Hostname <i class="fa fa-question-circle" aria-hidden="true" title="Enter hostname of Domoticz (http://0.0.0.0:8084)" tooltip></i></label>
                        <input name="hostname" placeholder="http://0.0.0.0:8084" ng-model="vm.settings.hostname" type="text" required="">
                    </div>
                    <div class="settings__form-input">
                        <label>Username <i class="fa fa-question-circle" aria-hidden="true" title="Enter username of Domoticz" tooltip></i></label>
                        <input name="username" placeholder="username" autocomplete="off" ng-model="vm.settings.username" type="text" required="">
                    </div>
                    <div class="settings__form-input">
                        <label>Password <i class="fa fa-question-circle" aria-hidden="true" title="Enter password of Domoticz" tooltip></i></label>
                        <input name="password" placeholder="*******" autocomplete="off" ng-model="vm.settings.password" type="text" required="">
                    </div>
                    <div class="settings__form-input">
                        <label>Refresh Timeout <i class="fa fa-question-circle" aria-hidden="true" title="Refresh seconds to reload the data" tooltip></i></label>
                        <input name="refresh" placeholder="9000" ng-model="vm.settings.refresh" type="number" required="">
                    </div>
                    <div class="settings__form-input">
                        <label>Quantity bgimages <i class="fa fa-question-circle" aria-hidden="true" title="Number of images located in assets/img/bg folder" tooltip></i></label>
                        <input name="bgimages" placeholder="3" ng-model="vm.settings.bgimages" type="number" required="">
                    </div>
                </div>
                <div class="wrap">
                    <h3>Grid layout</h3><br />
                    <div class="colums">
                        <h4>Colums</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Colum number <i class="fa fa-question-circle" aria-hidden="true" title="1<br>2<br>3<br>*" tooltip></th>
                                    <th>Colum class <i class="fa fa-question-circle" aria-hidden="true" title="Class based on bootstrap<br>( col-xs-12, col-sm-6 )" tooltip></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="colum in vm.settings.colums">
                                    <td><input type="checkbox" ng-model="colum.selected"/></td>
                                    <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="colum.colum" required/></div></td>
                                    <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="colum.class" required/></div></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <a class="button" ng-hide="!vm.settings.colums.length" ng-click="vm.editColums('', 'remove')">remove</a>
                            <a class="button" ng-click="vm.editColums(vm.settings.colums, 'add')">add</a>
                        </div>
                    </div>

                    <div class="blocks">
                        <h4>Blocks</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Block type <i class="fa fa-question-circle" aria-hidden="true" title="Device=IDX<br>Heading<br>News<br>Weather<br>Spotify<br>Calendar" tooltip></i></th>
                                    <th>Block class <i class="fa fa-question-circle" aria-hidden="true" title="Class based on bootstrap<br>( col-xs-12, col-sm-6 )" tooltip></i></th>
                                    <th>Block colum <i class="fa fa-question-circle" aria-hidden="true" title="colum1<br>colum2<br>colum3<br>colum*" tooltip></th>
                                    <th>Block title <i class="fa fa-question-circle" aria-hidden="true" title="Your custom title for this block" tooltip></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="block in vm.settings.blocks">
                                    <td><input type="checkbox" ng-model="block.selected"/></td>
                                    <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="block.type" required/></div></td>
                                    <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="block.class" required/></div></td>
                                    <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="block.colum" required/></div></td>
                                    <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="block.title" required/></div></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <a class="button" ng-hide="!vm.settings.blocks.length" ng-click="vm.editBlocks('', 'remove')">remove</a>
                            <a class="button" ng-click="vm.editBlocks(vm.settings.blocks, 'add')">add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="wrap">
                  <h3>News settings <span>(rss reader)</span></h3><br />
                  <div class="settings__form-input">
                      <table>
                          <thead>
                              <tr>
                                  <th></th>
                                  <th>News location <i class="fa fa-question-circle" aria-hidden="true" title="RSS feed url" tooltip></i></th>
                                  <th>News quantity <i class="fa fa-question-circle" aria-hidden="true" title="RSS item display quantity" tooltip></i></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="newsitem in vm.settings.news">
                                  <td><input type="checkbox" ng-model="newsitem.selected"/></td>
                                  <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="newsitem.location" required/></div></td>
                                  <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="newsitem.quantity" required/></div></td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="form-group">
                          <a class="button" ng-hide="!vm.settings.news.length" ng-click="vm.editNews('', 'remove')">remove</a>
                          <a class="button" ng-click="vm.editNews(vm.settings.news, 'add')">add</a>
                      </div>
                  </div>
              </div>
              <div class="wrap">
                  <h3>Network Devices <span>(Detection)</span></h3><br />
                  <div class="settings__form-input">
                      <table>
                          <thead>
                              <tr>
                                  <th></th>
                                  <th>Device ip</th>
                                  <th>Device name</th>
                                  <th>Device icon</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="device in vm.settings.network">
                                  <td><input type="checkbox" ng-model="device.selected"/></td>
                                  <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="device.ip" required/></div></td>
                                  <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="device.name" required/></div></td>
                                  <td><div class="settings__form-input"><input type="text" class="form-control" ng-model="device.icon" required/></div></td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="form-group">
                          <a class="button" ng-hide="!vm.settings.network.length" ng-click="vm.Networkdevices('', 'remove')">remove</a>
                          <a class="button" ng-click="vm.editNetworkdevices(vm.settings.network, 'add')">add</a>
                      </div>
                  </div>
              </div>
              <div class="wrap">
                  <h3>Weather settings <span>(wunderground)</span></h3>
                  <div class="settings__form-input">
                      <label>API KEY</label>
                      <input name="hostname" placeholder="a342afafkj234" ng-model="vm.settings.weather_wunderground_api" type="text" required="">
                  </div>
                  <div class="settings__form-input">
                      <label>Country</label>
                      <input name="hostname" placeholder="NL" ng-model="vm.settings.weather_country" type="text" required="">
                  </div>
                  <div class="settings__form-input">
                      <label>Location</label>
                      <input name="hostname" placeholder="Weather location" ng-model="vm.settings.weather_location" type="text" required="">
                  </div>
                  <div class="settings__form-input">
                      <label>Refresh Timeout</label>
                      <input name="hostname" placeholder="300000" ng-model="vm.settings.weather_refresh" type="number" required="">
                  </div>
              </div>
              <div class="wrap">
                  <h3>Traffic settings <span>(Anwb)</span></h3>
                  <div class="settings__form-input">
                      <label>Feed Url</label>
                      <input name="hostname" placeholder="https://www.anwb.nl/feeds/gethf" ng-model="vm.settings.traffic_url" type="text" required="">
                  </div>
              </div>
              <div class="wrap">
                  <h3>Spotify settings</h3>
                  <div class="settings__form-input">
                      <label>Client ID</label>
                      <input name="clientid" placeholder="ClientID" ng-model="vm.settings.spotify_clientid" type="text" required="">
                  </div>
                  <div class="settings__form-input">
                      <label>Username</label>
                      <input name="username" placeholder="Username" ng-model="vm.settings.spotify_username" type="text" required="">
                  </div>
                  <div class="settings__form-input">
                      <label>Token</label>
                      <input name="access_token" placeholder="Auto generated" ng-model="vm.settings.spotify_access_token" type="text" readonly>
                  </div>
              </div>
              <div class="wrap">
                    <h3>Calendar <span>(Google)</span></h3>
                    <div class="settings__form-input">
                        <label>Google Api-clientid</label>
                        <input name="Api clientid" ng-model="vm.settings.calendar_api" type="text" required="">
                    </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="wrap">
                    <a ng-click="vm.saveManualy()" ng-href="{{ vm.url }}" class="button">Download Manualy</a>
                    <button class="button" ng-click="vm.saveSettings()" type="button">Save Changes</button>
                    <div class="message" ng-if="vm.message">Settings saved successfully!</div>
                </div>
            </div>
        </form>
